{{set . "title" "Go GuestBook"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Go GuestBook</h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
      <ul>
      {{range .messages}}
      <li>{{.AuthorName}} , {{.AuthorMail}} , {{.Content}} 
      <a href="/edit?mid={{.Id.Hex}}">[Edit]</a>
      <a href="/remove?mid={{.Id.Hex}}">[Remove]</a>
      </li>
      {{end}}
      </ul>
    </div>
  </div>
</div>

{{template "footer.html" .}}
